<div class="job-card">
  <div class="card-content">
    <div class="img">
      <img src="assets/images/photosnap.svg" alt="" />
    </div>
    <div class="details">
      <div class="company-name">
        Photosnap
        <div class="flags">
          <span class="flag">NEW!</span>
          <span class="flag">FEATURED</span>
        </div>
      </div>
      <div class="role">Senior Front End Developer</div>
      <div class="infos">
        <span>1d ago</span>
        <span class="seperator">⸱</span>
        <span>Full Time</span>
        <span class="seperator">⸱</span>
        <span>USA only</span>
      </div>
    </div>
    <div class="tags">
      <span class="tag">Frontend</span>
      <span class="tag">Senior</span>
      <span class="tag">HTML</span>
      <span class="tag">CSS</span>
      <span class="tag">JavaScript</span>
    </div>
  </div>
</div>
