<div class="job-card" [ngClass]="{ featured: job.featured }">
  <div class="card-content">
    <div class="img">
      <img [src]="job.logo" alt="" />
    </div>
    <div class="details">
      <div class="company-name">
        {{ job.company }}
        <div class="flags">
          <span class="flag new" *ngIf="job.new">NEW!</span>
          <span class="flag" *ngIf="job.featured">FEATURED</span>
        </div>
      </div>
      <div class="role">{{ job.position }}</div>
      <div class="infos">
        <span>{{ job.postedAt }}</span>
        <span class="seperator">⸱</span>
        <span>{{ job.contract }}</span>
        <span class="seperator">⸱</span>
        <span>{{ job.location }}</span>
      </div>
    </div>
    <div class="tags">
      <span class="tag">{{ job.role }}</span>
      <span class="tag">{{ job.level }}</span>
      <span class="tag" *ngFor="let language of job.languages">{{
        language
      }}</span>
      <span class="tag" *ngFor="let tool of job.tools">{{ tool }}</span>
    </div>
  </div>
</div>
